body{
}

header{
    text-align: center;
    background-color: white;
    padding-left: 45px;
    padding-right: 45px;
   
}

.rooftop{
    display: flex;
    justify-content: space-between;
}

.rooftop-right {
    float: right; /* 가운데로 이동 */
}

.main-icon {
    width: 50px;
    height: 50px;
    margin-left: 10%;
}


.MainTitle{
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    color: red;
}

.searchBox {
    width: 200%;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 20px;
    padding: 0 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
    background-color: rgb(230, 230, 230);
    background-image: url('../resource/find.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x:95%;
    background-position-y: center;
}
  
.searchBox:focus {
  box-shadow: 0 0 15px 0 rgba(66, 133, 244, 0.8);
}

.top-nav{
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.top-nav li{
  height : 50px;
  width: 100px;
  margin-right: 10px;
}

main{
    width: 1200px;
    margin: auto;
    padding-left : 50px;
    padding-right : 50px;
}

.content {
    background-color: lightslategray;
    display: flex;
    justify-content: space-between;
}

.left-aside {
    background-color: darkgray;
    width: 15%;
}

.left-Category{
    background-color: aquamarine;
    text-align: center;
    margin: 4px;
    height: 10%;
}
.post-section {
    background-color: antiquewhite;
    width: 50%;
    overflow-y: auto;
}
.right-aside {
    width: 20%;
    background-color: ivory;
}

.post-list ul {
    text-align: center;
    list-style-type: none; /* 리스트 불릿 제거 */
}

.post-list ul li {
    display: inline-block; /* li 요소를 인라인-블록 요소로 만들어 가로로 배치 */
    width: 300px;
    height: 100px;
    margin: 10px;
}

